<div
  class="card w-full h-full bg-dynamic text-dynamic border-2 subborder-dynamic shadow-2xl rounded overflow-hidden"
>
  <figure class="w-full aspect-4/3">
    <img [src]="img" alt="Imagen" class="w-full h-full object-cover rounded-lg" />
  </figure>
  <div class="card-body mt-4 p-4 pb-4 mb-4">
    <h3 class="h-2/3 text-2xl text-left titleText-dynamic font-semibold mb-2" *ngIf="title">
      {{ title }}
    </h3>
    <p *ngIf="resumen" class="h-1/3 text-base text-justify">{{ resumen }}</p>
  </div>
</div>
