<div
  class="card w-full h-full flex flex-col bg-dynamic text-dynamic border-2 subborder-dynamic shadow-2xl rounded overflow-hidden"
>
  <figure class="w-full aspect-4/3">
    <img [src]="img" alt="Imagen" class="w-full h-full object-cover" />
  </figure>

  <div class="card-body mt-4 p-4">
    <h3
      *ngIf="title"
      class="text-xl titleText-dynamic font-bold mb-2 text-justify tracking-normal wrap-break-words [hyphens:auto]"
    >
      {{ title }}
    </h3>

    <p
      *ngIf="resumen"
      class="text-base text-dynamic font-semibold text-justify leading-relaxed tracking-normal wrap-break-words [hyphens:auto]"
    >
      {{ resumen }}
    </p>
  </div>
</div>
