<main
  class="mt-12 pt-8 flex flex-col lg:flex-row w-full h-full justify-between p-4 bg-dynamic gap-12 rounded"
>
  <div *ngIf="news" class="mt-10 w-full h-full px-8 text-dynamic rounded-xl">
    <h1 class="text-3xl font-bold mb-6">{{ news.titulo }}</h1>

    <p *ngIf="news.fecha" class="subtext-dynamic mb-2"><strong>Fecha:</strong> {{ news.fecha }}</p>

    <p *ngIf="news.categoria" class="subtext-dynamic mb-2">
      <strong>Categoría:</strong> {{ news.categoria }}
    </p>

    <p *ngIf="news.autor?.length" class="text-gray-500 mb-2">
      <strong>Autor(es):</strong> {{ news.autor }}
    </p>

    <img
      *ngIf="news.imagen"
      [src]="news.imagen"
      alt="Imagen news"
      class="w-full max-h-[600px] object-cover rounded mb-4"
    />

    <p *ngIf="news.resumen" class="mt-14 h-2/3 text-lg text-dynamic mb-4">{{ news.resumen }}</p>
  </div>

  <ng-template #noNews>
    <p class="text-center mt-8">No se ha recibido ninguna news.</p>
  </ng-template>
</main>
<button routerLink="/" class="mt-4 w-full text-end text-red-400 text-xl">Volver</button>
