<app-info-section [title] ="titulo()"/>

<div
  class="mt-8 gap-8 p-8 pb-0 grid sm:grid-cols-1 md:grid-cols-2"
  [ngClass]="{
    'lg:grid-cols-3': tipo() === 'card',
    'lg:grid-cols-2': tipo() === 'hero'
  }"
>

  @if (loading()) {
    @for (_ of Array.from({ length: arraySkeleton() }); track $index) {
      <app-skeleton />
    }
  } @else if (noticias().length > 0) {
      @for (news of noticias().slice(0, arraySkeleton()); track news.id) {
        <a [routerLink]="['/news', news.id]" [state]="{ news: news }" class="block h-full">
          <article class="h-full">
            @if (tipo() === "card") {
              <app-card
                [img]="news.imagen || 'assets/placeholder.jpg'"
                [title]="news.titulo || 'Sin título'"
              />
            }@else {
              <app-hero
                [img]="news.imagen || 'assets/placeholder.jpg'"
                [title]="news.titulo || 'Sin título'"
              />
            }
          </article>
        </a>
      } } @else {
    <app-no-news title="Noticias" />
  }
</div>
